.portofolio-badag {
  width: 3322px;
  height: 400px;
  position: absolute;
  margin: 0 !important;
  top: -27px;
  right: -1305px;
  font-size: 400px;
  font-weight: 700;
  font-family: var(--font-roboto);
  color: var(--color-lightsteelblue);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.portofolio {
  align-self: stretch;
  height: 26px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.p,
.rifqi-fadil-fahrial {
  margin: 0;
}
.p {
  color: var(--color-lightsteelblue);
}
.rifqi-fadil-fahrial-1222646-container {
  align-self: stretch;
  height: 74px;
  position: relative;
  font-size: 48px;
  display: inline-block;
  flex-shrink: 0;
  color: var(--color-lightsalmon);
}
.s-d-n-frame,
.s-t-m-i-k-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.s-t-m-i-k-frame {
  align-self: stretch;
  gap: var(--gap-50xl);
}
.s-d-n-frame {
  width: 569px;
  min-width: 569px;
  min-height: 429px;
  max-width: 100%;
}
.text-frame-child {
  width: 960px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
  z-index: 1;
}
.badge-frame,
.text-frame {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.text-frame {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.badge-frame {
  width: 1885px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.bagian-2-child {
  align-self: stretch;
  height: 919px;
  position: relative;
  background-color: var(--color-lightsteelblue);
  display: none;
  z-index: 0;
}
.inner-line,
.m-t-s-n-frame {
  position: absolute;
  margin: 0 !important;
}
.inner-line {
  width: 1930px;
  height: 10px;
  top: 70px;
  left: 0;
  border-top: 10px solid var(--color-gray);
  box-sizing: border-box;
  z-index: 1;
}
.m-t-s-n-frame {
  height: 81px;
  width: 377px;
  bottom: -40px;
  left: calc(50% - 188.5px);
  background-color: var(--color-lightsteelblue);
  z-index: 2;
}
.pendidikan {
  height: 53px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.education-frame,
.s-d-n-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.education-frame {
  flex: 1;
  position: relative;
}
.s-d-n-text {
  width: 369px;
  padding: 0 var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.wrapper-arrow-1-child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 0;
  transform: scale(1.027);
}
.wrapper-arrow-1 {
  height: 125.2px;
  width: 310px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sdn-tenjolaya-4 {
  height: 90px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: calc(100% - 261px);
  z-index: 1;
  margin-left: -49px;
}
.sub-header-frame {
  height: 90px;
  width: 963px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.stmik-bandung {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 702px;
  z-index: 1;
}
.stmik-bandung-label-child {
  position: absolute;
  top: 54px;
  left: 629px;
  border-top: 17px dashed var(--color-gray);
  box-sizing: border-box;
  width: 160px;
  height: 17px;
  z-index: 2;
}
.stmik-bandung-label {
  height: 90px;
  width: 772px;
  position: relative;
  max-width: 100%;
}
.content-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-child {
    align-self: stretch;
    width: 300;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    min-height: 310px;
    z-index: 1;
}
.frame-item {
  align-self: stretch;
  width: 0;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  min-height: 310px;
  z-index: 1;
}
.frame-item {
  width: 125.2px;
}
.frame-wrapper,
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.vector-parent {
  width: 864px;
  gap: var(--gap-845xl);
}
.frame-wrapper {
  padding: 0 26px 0 0;
  box-sizing: border-box;
}
.mtsn-2-bandung {
  width: 702px;
  height: 90px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
  z-index: 1;
}
.mtsn-2-bandung-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 925px);
  flex-shrink: 0;
}
.wrapper-arrow-3-child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 0;
  transform: scale(1.027);
}
.wrapper-arrow-3 {
  height: 125.2px;
  width: 310px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smk-al-wafa {
  width: 702px;
  height: 90px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 114%;
  z-index: 1;
}
.smk-al-wafa-wrapper {
  width: 615px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 977px);
  flex-shrink: 0;
}
.frame-group {
  align-self: stretch;
  height: 90px;
  flex-direction: row;
  align-items: center;
}
.frame-group,
.frame-parent,
.header-frame-inner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-46xl);
}
.header-frame-inner {
  width: 1702px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
}
.bagian-2,
.header-frame {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.header-frame {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.bagian-2 {
  background-color: var(--color-lightsteelblue);
  align-items: center;
  padding: 19px var(--padding-3xs) 75px var(--padding-10xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-151xl);
  text-align: center;
  color: var(--color-gray);
}
.bagian-2,
.inner-frame,
.portfolio-frame {
  display: flex;
  justify-content: flex-start;
}
.portfolio-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  max-width: 101%;
  flex-shrink: 0;
}
.inner-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-lightsteelblue);
  font-family: var(--font-roboto);
}
.keahlian-aplikasi {
  margin: 0;
  height: 121px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.figma-logo {
  width: 1527px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 39px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.kdenlive-logo-1-icon {
  align-self: stretch;
  height: 155px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.gimp-graphic-design-logo {
  height: 205px;
  width: 712px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 712px;
  max-width: 100%;
}
.figma-logo-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.media-logo-frame {
  height: 314px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
  box-sizing: border-box;
}
.calligrakrita-base-1-icon {
  height: 263px;
  width: 263px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.database-frame-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 49px;
  background-color: var(--color-lightsteelblue);
  width: 383px;
}
.kisspng-gimp-graphic-design-im-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 477px;
  height: 206px;
  object-fit: cover;
  z-index: 1;
}
.database-frame {
  height: 222px;
  flex: 1;
  position: relative;
  min-width: 310px;
  max-width: 100%;
}
.applications-skill-frame {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 27px;
  min-width: 499px;
}
.applications-skill-frame,
.image-editing-logo,
.n-label {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.n-label {
  width: 1055px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-69xl);
  min-width: 1055px;
}
.image-editing-logo {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kdenlive-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-60xl);
  max-width: 101%;
  flex-shrink: 0;
}
.keahlian-application-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 680px;
  max-width: 100%;
  text-align: center;
  font-size: 128px;
  color: var(--color-lightsalmon);
  font-family: var(--font-roboto);
}
.empty-frame-child {
  height: 1444px;
  width: 1849px;
  position: relative;
  border-radius: var(--br-60xl);
  background-color: var(--color-gray);
  border: 10px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.n-1-icon,
.n-1-icon1 {
  height: 1276px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 467px;
  z-index: 1;
}
.n-1-icon1 {
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: scale(1.022);
}
.wrapper-276023812-500201508480 {
  height: 1276px;
  flex: 1;
  position: relative;
  min-width: 467px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-1,
.empty-frame,
.n-frame {
  display: flex;
  box-sizing: border-box;
}
.empty-frame {
  width: 1849px;
  border-radius: var(--br-60xl);
  background-color: var(--color-gray);
  border: 10px solid var(--color-darkseagreen);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-49xl) 123px var(--padding-49xl) 111px;
  gap: var(--gap-160xl);
  max-width: 100%;
}
.desktop-1,
.n-frame {
  justify-content: flex-start;
}
.n-frame {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 42px 0 var(--padding-10xl);
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 80px;
  gap: var(--gap-25xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1800px) {
  .s-d-n-frame {
    flex: 1;
    min-height: auto;
  }
  .text-frame-child {
    flex: 1;
  }
  .text-frame {
    flex-wrap: wrap;
  }
  .content-frame {
    flex-wrap: wrap;
    justify-content: center;
  }
  .kdenlive-logo-1-icon {
    align-self: stretch;
    width: auto;
  }
  .gimp-graphic-design-logo,
  .n-label {
    flex: 1;
  }
  .image-editing-logo {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .vector-parent {
    gap: var(--gap-845xl);
  }
  .header-frame-inner {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .bagian-2 {
    gap: var(--gap-151xl);
    padding-top: var(--padding-xl);
    padding-bottom: 49px;
    box-sizing: border-box;
  }
  .n-label {
    gap: var(--gap-69xl);
    min-width: 100%;
  }
  .kdenlive-logo {
    gap: var(--gap-60xl);
  }
  .empty-frame {
    gap: var(--gap-160xl);
    padding: var(--padding-25xl) 61px var(--padding-25xl) var(--padding-36xl);
    box-sizing: border-box;
  }
  .n-frame {
    padding-right: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .portofolio-badag {
    font-size: 160px;
  }
  .portofolio {
    font-size: var(--font-size-32xl);
  }
  .rifqi-fadil-fahrial-1222646-container {
    font-size: var(--font-size-19xl);
  }
  .s-t-m-i-k-frame {
    gap: var(--gap-50xl);
  }
  .s-d-n-frame {
    min-width: 100%;
  }
  .pendidikan,
  .sdn-tenjolaya-4,
  .stmik-bandung {
    font-size: var(--font-size-32xl);
  }
  .vector-parent {
    gap: var(--gap-845xl);
  }
  .mtsn-2-bandung,
  .smk-al-wafa {
    font-size: var(--font-size-32xl);
  }
  .frame-parent {
    gap: var(--gap-46xl);
  }
  .header-frame {
    gap: var(--gap-28xl);
  }
  .bagian-2 {
    gap: var(--gap-151xl);
  }
  .keahlian-aplikasi {
    font-size: var(--font-size-32xl);
  }
  .gimp-graphic-design-logo {
    min-width: 100%;
  }
  .calligrakrita-base-1-icon {
    flex: 1;
  }
  .applications-skill-frame {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .n-label {
    flex-wrap: wrap;
    gap: var(--gap-69xl);
  }
  .kdenlive-logo {
    gap: var(--gap-60xl);
  }
  .n-1-icon,
  .n-1-icon1 {
    min-width: 100%;
    border-radius: 20px;
  }
  .empty-frame {
    gap: var(--gap-160xl);
    padding: var(--padding-10xl) var(--padding-11xl) var(--padding-10xl)
      var(--padding-8xl);
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 450px) {
  .portofolio-badag {
    font-size: 100px;
  }
  .portofolio {
    font-size: var(--font-size-19xl);
  }
  .rifqi-fadil-fahrial-1222646-container {
    font-size: 29px;
  }
  .s-t-m-i-k-frame {
    gap: var(--gap-50xl);
  }
  .mtsn-2-bandung,
  .pendidikan,
  .sdn-tenjolaya-4,
  .smk-al-wafa,
  .stmik-bandung {
    font-size: var(--font-size-19xl);
  }
  .frame-parent {
    gap: var(--gap-46xl);
  }
  .bagian-2 {
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  .keahlian-aplikasi {
    font-size: 32px;
  }
  .empty-frame {
    gap: var(--gap-160xl);
  }
}
